
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Gais!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
<body>
<% if flash[:notice].present? %>
  <%= flash[:notice] %>
<% end %> </br>
<%= link_to 'New Data', new_pocket_path %>
<table class="table">
    <tr>
        <th>Saldo</th>
        <th>ID Student</th>
        <th>ID Teacher</th>
            </tr>
    <% @pockets.each do |pocket| %>
    <tr>
        <td> <%= pocket.title %></td>

        <td> <%= pocket.hasil %></td>

        <td> <%= pocket.mapel %></td>

        <td> <%= pocket.teacher_id %></td>

        <td> <%= pocket.student_id %></td>

        <td> <%= pocket.tanggal %></td>
        <td> <%= link_to 'Detail',pocket_path(pocket) %> | <%= link_to 'Edit',edit_pocket_path(pocket) %>|  <%= link_to 'Delete',pocket_path(pocket) ,method: :delete, data: {confirm:'areyou sure?'}%></td>

        </tr>
    <% end %>
</table>
</body>
</html>