<%= form_for(@pocket) do |f| %>
    
    <%= f.label :saldo %> </br>
    <%= f.text_field :balance %> </br>

    <%= f.label :student_id %> </br>
    <%= f.text_field :student_id %> </br>

    <%= f.label :teacher_id %> </br>
    <%= f.text_field :teacher_id %> </br>

   
    

    <%= f.submit %>
<% end %>
    