
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Gais!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
<body>
<% if flash[:notice].present? %>
  <%= flash[:notice] %>
<% end %> </br>
<%= link_to 'New Data', new_student_path %>
<table class="table">
    <tr>
        <th>Nama</th>

        <th>Username</th>
        <th>Usia</th>        
        <th>Kelas</th>
        <th>Alamat</th>
        <th>Kota</th>
        <th>NIK</th>
    </tr>
    <% @students.each do |student| %>
    <tr>
        <td> <%= student.name %></td>

        <td> <%= student.username %></td>

        <td> <%= student.age %></td>

        <td> <%= student.kelas %></td>

        <td> <%= student.address %></td>

        <td> <%= student.city %></td>

        <td> <%= student.nik %></td>
        <td> <%= link_to 'Detail',student_path(student) %> | <%= link_to 'Edit',edit_student_path(student) %>|  <%= link_to 'Delete',student_path(student) ,method: :delete, data: {confirm:'areyou sure?'}%></td>

        </tr>
    <% end %>
</table>
</body>
</html>