<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Gais!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
<body>

<% if flash[:notice].present? %>
  <%= flash[:notice] %>
<% end %> </br>
<table class="table">
<thead>
<tr>
<th>Nama</th>
    <th>Username</th>
    <th>Usia</th>        
    <th>Kelas</th>
    <th>Alamat</th>
    <th>Kota</th>
    <th>NIK</th>
</tr>
<thead>
<tbody>
<tr>
<td><%= @student.name %> </td>
<td><%= @student.username %> </td>
<td><%= @student.age %> </td>
<td><%= @student.kelas %> </td>
<td><%= @student.address %> </td>
<td><%= @student.city %> </td>
<td><%= @student.nik %> </td>

</tr>
</tbody>
</table>
</body>
</html>