
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Gais!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
<body>
<% if flash[:notice].present? %>
  <%= flash[:notice] %>
<% end %> </br>
<%= link_to 'New Data', new_teacher_path %>
<table class="table">
    <tr>
        <th>Nama</th>

        <th>NIK</th>
        <th>Nama</th>        
        <th>Usia</th>
        <th>Kelas</th>
        <th>Mapel</th>
        
    </tr>
    <% @teachers.each do |teacher| %>
    <tr>
        <td> <%= teacher.nik %></td>

        <td> <%= teacher.name %></td>

        <td> <%= teacher.age %></td>

        <td> <%= teacher.kelas %></td>

        <td> <%= teacher.mapel %></td>

        <td> <%= link_to 'Detail',teacher_path(teacher) %> | <%= link_to 'Edit',edit_teacher_path(teacher) %>|  <%= link_to 'Delete',teacher_path(teacher) ,method: :delete, data: {confirm:'areyou sure?'}%></td>

        </tr>
    <% end %>
</table>
</body>
</html>