<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Gais!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
<body>

<% if flash[:notice].present? %>
  <%= flash[:notice] %>
<% end %> </br>
<table class="table">
<thead>
<tr>
<th>NIK</th>
    <th>Name</th>
    <th>Age</th>        
    <th>Kelas</th>
    <th>Mapel</th>
    
<tr>
<thead>
<tbody>
<tr>
<td><%= @teacher.nik %> </td>
<td><%= @teacher.name %> </td>
<td><%= @teacher.age %> </td>
<td><%= @teacher.kelas %> </td>
<td><%= @teacher.mapel %> </td>

<tr>
</tbody>
</table>
</body>
</html>