
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Gais!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
<body>
<% if flash[:notice].present? %>
  <%= flash[:notice] %>
<% end %> </br>
<%= link_to 'New Data', new_payment_path %>
<table class="table">
    <tr>
        <th>ID Transaksi</th>
        <th>Status</th>
        <th>Upload</th>        
        
    </tr>
    <% @payments.each do |payment| %>
    <tr>
        <td> <%= payment.id_transaction %></td>

        <td> <%= payment.status %></td>

        <td> <%= payment.upload %></td>

        <td> <%= link_to 'Detail',payment_path(payment) %> | <%= link_to 'Edit',edit_payment_path(payment) %>|  <%= link_to 'Delete',payment_path(payment) ,method: :delete, data: {confirm:'areyou sure?'}%></td>

        </tr>
    <% end %>
</table>
</body>
</html>