<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Gais!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
<body>

<% if flash[:notice].present? %>
  <%= flash[:notice] %>
<% end %> </br>
<table class="table">
<thead>
<tr>
<th>Title</th>
<th>Mapel</th>
<th>Duration</th>        
<th>Nilai</th>
<th>Status</th>
<th>Level</th>
<th>Student_id</th>
</tr>
</thead>
<tbody>
<tr>
<td><%= @exam.mapel %> </td>
<td><%= @exam.duration %> </td>
<td><%= @exam.nilai %> </td>
<td><%= @exam.status %> </td>
<td><%= @exam.level %> </td>
<td><%= @exam.student_id %> </td>


</tr>
</tbody>
</table>
</body>
</html>