<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Gais!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
<body>

<% if flash[:notice].present? %>
  <%= flash[:notice] %>
<% end %> </br>
<table class="table">
<thead>
<tr>
    <th>Title</th>
    <th>Hasil</th>
    <th>Mapel</th>        
    <th>ID Teacher</th>
    <th>ID Student</th>
    <th>Tanggal</th>
</tr>
<thead>
<tbody>
<tr>
<td><%= @report.title %> </td>
<td><%= @report.hasil %> </td>
<td><%= @report.mapel %> </td>
<td><%= @report.teacher_id %> </td>
<td><%= @report.student_id %> </td>
<td><%= @report.tanggal %> </td>

</tr>
</tbody>
</table>
</body>
</html>